@use "../../styles/variables" as *;

button {
  background-color: $primary;
  color: $text-secondary;
  border: none;
  padding: 10px 16px;
  border-radius: $radius-sm;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken($primary, 10%);
  }

  &:disabled {
    background-color: $surface-secondary;
    color: $text-secondary;
    cursor: not-allowed;
  }
}
