@use "variables" as *;

body {
  font-family: $font-main;
  background-color: $background;
  color: $text-primary;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}
