@use "../../styles/variables" as *;

.characters-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.characters-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    text-align: left;
    width: 150px;
  }

  th {
    cursor: pointer;
    user-select: none;
    color: $text-secondary;
    font-size: 14px;
    background-color: $surface;

    .sort-arrow {
      margin-left: 6px;
      display: inline-flex;
      vertical-align: middle;
    }
  }

  tr:nth-child(even) {
    background-color: $surface-secondary;
  }

  th:first-child {
    border-top-left-radius: $radius-md;
  }

  th:last-child {
    border-top-right-radius: $radius-md;
  }

  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  .actions {
    display: flex;
    gap: 6px;
    color: $text-primary;
    font-size: 18px;
    .action {
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
}

.filters {
  margin-bottom: $spacing-md;

  input {
    width: 250px;
    padding: 8px 12px;
    border-radius: $radius-sm;
    border: 1px solid $surface;
    color: $text-primary;
  }
  input::placeholder {
    color: $text-primary;
  }
}
