@use "../../styles/variables" as *;

.actions {

  display: flex;
  gap: 6px;
  color: $text-primary;
  font-size: 18px;
  .action {
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
}
