@use "../styles/variables" as *;

.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard__body {
  flex: 1;
  display: flex;
}

.dashboard__content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}
